body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'inter';
}

header {
    background-color: rgb(247, 241, 234);
    height: 700px;
}

/* Nav */

.nav-container > div {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px 140px;
}

#chirp {
    flex: 2;
    font-style: italic;
    color: #1da1f2;
    font-size: 16px;
}

#links {
    word-spacing: 16px;
    font-size: 14px;
}

a {
    color: grey;
    text-decoration: none;
    font-weight: 300;
}

/* Twitter Sign in Bar below */

#nav-sign-in {
    background: #1da1f2;
    margin-left: 20px;
    padding: 6px 12px 8px 12px;
    border-radius: 3px;
}

#blue-img {
    width: 15px;
    height: auto;
    margin-bottom: -2px;
    margin-right: 5px;
}

.sign-in {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-family: 'inter';
    font-weight: 500;
}

/* left hero section */

.hero-container {
    display: flex;
    padding: 10px 140px;
}

.left-hero {
    margin-right: 40px;
    padding-top: 20px;
}

h1 {
    width: 440px;
    font-size: 42px;
    margin-bottom: -10px;
}

p {
    color: grey;
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
}

#hero-sign-in {
    background: #1da1f2;
    padding: 10px 14px;
    border-radius: 3px;
    margin-right: 10px;
}

#blue-img-hero {
    width: 15px;
    height: auto;
    margin-bottom: -2px;
    margin-right: 5px;
}

#learn-more {
    font-size: 12px;
    font-weight: 500;
    color: rgba(71, 122, 203, 0.950);
}

#face-container {
    margin-left: 30px;
}

.faces {
    margin-top: 30px;
    margin-left: -30px;
}

span {
    color: rgba(71, 122, 203, 0.950);
    font-weight: 500;
}





/* right hero section */


#hero-img {
    width:340px;
    height: auto;
}